body {
    margin: 0em;
}

h1 {
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 2.5em;
    font-weight: normal;
}

h2 {
    font-size: 2.2em;
}
    
h3 {
    font-size: 2em;
    font-weight: normal;
}

li {
    font-size: 1.7em;
}

p {
    font-size: 1.7em;
}

p.quote {
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

p.img {
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
    font-weight: lighter;
}

table.header {
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    border-collapse: collapse;
}

td.space {
    padding-right: 35vw;
}

td.navbar {
    font-family: "Helvetica Neue", "Helvetica";
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 1.5vw;
}

div.header {
    padding: 0em;
    padding-left: 0em;
    background-color: white;
    box-shadow: 0em 0.15em 0.125em grey;
    padding-bottom: 2.5em;
    padding-top: 2em;
    background-image: url("Grey%20Gradient.jpg");
    background-position: center;
    background-size: cover;
}

div.main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 1000px;
    padding: 2em;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 2em;
    background-color: white;
    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
}

html {
    background-image: url("BTC%20bg.jpg");
}


a:visited{
    color: black;
}

a:link{
    color: black;
}

a.navbar {
    text-decoration: none;
}

p.main {
    font-size: 2em;
}

a {
    text-decoration: none;
    font-weight: normal;
    cursor: default;
}

div.dropdown-menu {
    position: relative;
    display: inline-block;
}

div.dropdown-elems {
    width: 100%;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0em 0.1em 0.075em grey;
}

div.dropdown-elems a {
    display: block;
}

a.dropdown {
    padding-left: 0.5vw;
    font-size: 1vw;
}

a.dropdown:hover {
    background-color: aliceblue;
}

button.dropdown {
    font-size: 1.5vw;
    border: none;
    background-color: transparent;
}

button.dropdown:hover {
    background-color: aliceblue;
}

button.dropdown:hover div.dropdown-elems{
    display: block;
}

td.navbar:hover div.dropdown-elems{
    display: block;
}